{% extends 'base.html' %} 
{% block title %}
О сайте
{% endblock title %}
{% block content %}
<div class="container py-5">
    <h1>Как создавался сайт</h1>
    <p>Этот сайта создавался мной в рамках проектной работы <span style="color: #ff0000;">Яндекс</span>.Практикум. Смысл заключается в разработке социальной площадки для каждого, кто-бы хотел поделиться своими постами с другими пользователями, а так же вступать в группы людей с похожими взглядами</p>
    <p>Основа проекта построена на Django фреймворке. Использовались стандартные функции: такие как шаблонизатор, административная панель и авторизация пользователей.</p>
    <p>Проект все время дорабатывается и появляются все более новые и интересные функции.</p>
    <p><strong>Присоединяйся к сообществу!</strong></p>
</div>
{% endblock %}